@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TmonMonsori';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'NEXON Lv1 Gothic OTF';
  line-height: 1.6;
}

body {
  padding: 5%;
  margin-bottom: 400px;
}

h1 {
  padding: 40px 0 20px 0;
}

h1 a {
  font-family: 'TmonMonsori';
}

hr {
  margin: 5% 0;
  border-style: dashed;
  border-color: #E6E6E6;
  border-width: 0;
  border-bottom-width: 1px;
}

/* img {
  vertical-align: top;
  border-radius: 5px;
  margin: 5px;
} */

ul {
  list-style: none;
}

ol {
  padding-left: 2px;
  list-style: decimal-leading-zero
}

a {
  text-decoration: none;
  color: #333;
}



.sample {
  border: 1px solid #E6E6E6;
  border-radius: 5px;
}

.sample h2 {
  position: relative;
  font-size: 16px;
  background-color: #F2F2F2;
  padding: 15px;
  border-bottom: 1px solid #E6E6E6;
  border-radius: 5px 5px 0 0;
}

.sample h2 .dot {
  width: 10px;
  height: 10px;
  background: #989898;
  display: block;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  top: 20px;
}

.sample h2 .dot::before {
  content: '';
  width: 10px;
  height: 10px;
  background: #989898;
  border-radius: 50%;
  position: absolute;
  left: -15px;
  top: 0;
}

.sample h2 .dot::after {
  content: '';
  width: 10px;
  height: 10px;
  background: #989898;
  position: absolute;
  border-radius: 50%;
  right: -15px;
  top: 0;
}

.sample .ex {
  padding: 20px;
}

.sample .ex .text {
  margin: 10px 0;
}

.sample .re {
  padding: 20px;
  border-top: 1px solid #E6E6E6;
}

.sample .re a {
  color: #333;
  text-decoration: none;
  border: 1px solid #333;
  border-radius: 30px;
  padding: 10px 30px;
  margin: 5px;
  display: inline-block;
}

.sample .re a:hover {
  background-color: #000;
  color: #fff;
}

.sample .problem {
  padding: 25px;
  border-bottom: 1px solid #E6E6E6;
  line-height: 1.6;
}

.sample pre {
  margin: 0 !important;
  border-radius: 0;
  ;
}

.sample .desc {
  padding: 25px;
  border-bottom: 1px solid #E6E6E6;
}

.sample .desc dt {
  padding: 3px 0;
  margin-bottom: 6px;
}

.sample .desc dd {
  padding: 3px 0 16px 0;
  line-height: 1.6;
}

.sample .sam {
  padding: 25px;
  border-bottom: 1px solid #E6E6E6;
}

.sample .sam dt {
  padding: 3px 0;
  margin-bottom: 6px;
}

.sample .sam dd {
  padding: 3px 0 16px 0;
}

.mt20 {
  margin-top: 20px;
}

.list {
  margin-left: 30px;
}

.page {
  position: absolute;
  right: 20px;
  top: 15px;
}

.page li {
  list-style: none;
  display: inline-block;
}

.page li a {
  text-decoration: none;
  color: #222;
}

.page li a:hover {
  color: #00DB72;
}

.menu li {
  display: inline;
}

.menu li a {
  font-family: 'NEXON Lv1 Gothic OTF';
  color: #000;
  border: 1px dashed #000;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 50px;
  font-size: 16px;
  margin: 4px 1px;
  transition: all 0.4s;
}

.menu li a:hover {
  box-shadow: inset 0 -100px 0 #000;
  color: #fff;
  border-style: solid;
}
.menu li.active a {
  background: #000;
  color: #fff;
}

.view {
  padding: 20px;
  overflow: auto;
}

.view table {
  width: 100%;
  border: 1px solid #e6e6e6;
  text-align: center;
  vertical-align: center;
  border-collapse: collapse;
}

.view table th {
  padding: 13px 5px 11px 5px;
}

.view table td {
  border: 1px solid #e6e6e6;
  padding: 13px 5px 11px 5px;
}

.view table td.result {
  color: #fff;
  transition: all 0.3s;
  cursor: zoom-in;
}

.view table td.result:hover {
  color: #333;
  background-color: #f5f5f5;
}

.sam {
  background-color: #000;
  color: #fff;
  border-radius: 30px;
  padding: 0 20px;
  margin-left: 5px;
}
.btn {
  padding: 20px; 
  border: 1px solid #f2f2f2;
  border-top: 0;
}
.btn a {
  border: 1px solid #e6e6e6;
  padding: 7px 25px;
  display: inline-block;
  border-radius: 40px;
  margin: 4px 0;
  color: #222;
  transition: all 0.2s;
}
.btn a:hover {
  background: #000;
  color: #fff;
}
.result h3 {
  font-size: 16px;
  font-weight: normal;
  padding: 10px 15px;
  background: #f2f2f2;
  display: inline-block;
  border-radius: 3px;
  margin-top: 5px;
}
.result div {
  background-color: #272822;
  color: #fff;
  padding: 20px;
  display: none;
  box-sizing: border-box;
  border-radius: 0 3px 3px 3px;
}
.result div.show {
  display: block;
}
@media (max-width:1200px) {
  .sample h2 {
    padding-right: 60px;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 13px;
  }

  h1 {
    text-align: center;
  }

  .title {
    border-top-width: 2px;
    margin-top: 15px;
  }

  .title h1 {
    text-align: center;
  }

  .title h1 a {
    font-size: 40px;
  }

  .menu li a {
    font-size: 12px;
    padding: 5px 20px;
  }

  .list {
    margin-left: 25px;
  }

  .list li {
    line-height: 1.3;
  }

  .list a {
    font-size: 12px;
  }

  .sample h2 {
    padding: 7px 5px 5px;
    font-size: 14px;
    font-weight: normal;
  }

  .sample h2 .dot {
    display: none;
  }

  .sample pre {
    font-size: 14px;
  }
  .sample code {
    font-size: 13px;
  }
  .result h3 {
    font-size: 13px;
    padding: 8px 10px 6px;
    line-height: 1.6;
  }
  .result div {
      padding: 10px;
  }
  .view {
    padding: 5px;
    max-width: 800px;
    overflow: auto;
  }

  .view th {
    font-weight: normal;
  }

  .view table th,
  .view table td {
    font-size: 13px;
    white-space: nowrap;
  }

  .view table td.result {
    color: #4e4e4e;
    background-color: #f1f1f1;
  }
  #top {
    display: none;
  }
}


#top {
  width: 50px;
  height: 50px;
  background-color: #f5f5f5;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 10px;
  text-align: center;
  z-index: 1;
}

#top div {
  margin: 10px;
}
