body {
    width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
    font-family: "nanumsquare", sans-serif;
}

/* header */

#header {
    margin: 0 auto;
    position: relative;
    width: 960px;
    height: 70px;
    margin-bottom: 20px;
}

#header .logo {
    position: absolute;
}
#header .logo img {
    width: 110px;
}

#header .menu {
    text-align: right;
    vertical-align: bottom;
    font-size: 20px;
    font-weight: 600;
    
}

#header .menu ul li {
    display: inline-block;
    margin-right: 30px;
    margin-top: 30px;
}


/* 메인 */
#main {
    margin: 0 auto;
    width: 960px;
}
#main #content1 img {
    width: 960px;
    margin-bottom: 20px;
}

/* 메인 content2 */
#main #content2 {
    display: grid;
    grid-template-columns: repeat(2,470px);
    grid-template-rows: 210px;
    gap:20px;
    margin-bottom: 30px;
}
#main #content2 .leftbox {
    border: 1px solid #D6D6D6;
    border-radius: 10px;
    float: left;
    padding: 30px;
}
#main #content2 .leftbox .tab-menu {}
#main #content2 .leftbox .tab-menu .tab-btn  {
    color: #999;
}
#main #content2 .leftbox .tab-menu .active {
    font-weight: 800;
    color: #000;
}
#main #content2 .leftbox .tab-menu ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    margin-right: 10px;
}
#main #content2 .leftbox .tab-menu ul li a {
    text-decoration: none;
    color: #000;
}

/* #main #content2 .leftbox .tab-cont {
    display: none;    
} */

#main #content2 .leftbox .tab-cont ul {
    padding: 0;
    list-style: none;
}
#main #content2 .leftbox .tab-cont ul li {
    margin-bottom: 10px;
}
#main #content2 .leftbox span {
    float: right;
}

#main #content2 .rightbox img {
    width: 100%;
}

/* 메인 content3 */

#main #content3 {
    margin: 0 auto;
    margin-bottom: 100px;
}
#main #content3 {
    font-size: 12px;
    font-weight: 700;
}

#main #content3 .wrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,230px);
    grid-template-rows: 230px;
    justify-content: space-between;
}
#main #content3 .card img {
    width: 100%;
    margin-bottom: 20px;
}

#content3 .card .text {
    font-size: 12px;
}


/* 푸터 content3 */
#footer {
    color: #999;
    margin: 0 auto;
    width: 960px;
    margin-bottom: 100px;
    border-top: 1px solid #999;
}

#footer ul {
    width: 600px;
    margin-bottom: 20px;
    padding: 0;
}
#footer li {
    display: inline-block;
    font-size: 13px;
    border-right: 1px solid #ccc;
}
#footer li:nth-child(1),
#footer li:nth-child(3){
    padding-left: 0;
}
#footer li:last-child {
    border-right: 0;
}
#footer span {
    display: block;
    font-size: 13px;
}