* {
    margin: 0;
    padding: 0;
}

body {
    width: 1200px;
    margin: 0 auto;
    flex: 0 1;
    margin-top: 30px;
    font-family: "nanumsquare", sans-serif;
}

a {
    color: black;
    text-decoration: none;
}
li {
    list-style: none;
}

/*헤더*/
#header {
    width: 300px;
    position: fixed;
    height: 100%;
    background-color: #fff;
    overflow: auto;
}
#header .logo {
    width: 100%;
}
#header .logo img {
    height: 50px;
    margin-left: 30px;
    margin-bottom: 30px;
}

nav {
    margin : 0 30px 30px 30px;

}
nav .mMu {}
nav .mMu .sMu {}
nav .mMu .sMu a {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
    display: inline-block;
}
nav .mMu .sMu ul {
    padding: 10px 0;
    display: none;
}
nav .mMu .sMu ul > li {}
nav .mMu .sMu ul > li:last-child {
    padding-bottom: 20px;
}
nav .mMu .sMu ul li a {
    font-size: 15px;
    font-weight: bold;
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

/*메인*/
#main {
    margin-left: 25%;
    width: 700px;
}
/* banner */
.banner {
    display: flex;
}
.slider-img {
    width: 700px;
    height: 380px;
    overflow: hidden;
}
.slider-img img {
    width: 100%;
}
.slider-inner {
    width: 700px;
    height: 1520px;
    overflow: hidden;
    position: relative;
}
.slider-inner .slider {
    float: left;
    width: 700px;
    height: 380px;
    position: relative;
}
#main .tabtn ul{
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 60px 0;
    text-decoration: none;
    color: #ccc;
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
    
}
#main .tabtn ul li a {
    text-decoration: none;
    color: #ccc;
    margin-right: 10px;
}
#main .tabtn ul li:nth-child(1) {
    margin: 0 10px;
    border-right: 2px solid #000;
}
#main .tabtn ul li.active a {
    color: #000;
}
#main .tabtn ul li a.active {
    color: #000;
}

#main a {
    
}
#main .tabtn .tab01 {
    margin-right: 10px;
    border-right: 2px solid #000;
}

#main .tabtn .tab01 li.active {
    color: #000;
}


/*탭메뉴*/
.tabMenu {
    margin: 30px 0;
}
.tabMenu .tab-btn {}
.tabMenu .tab-btn ul {
    display: flex;
    justify-content: center;
}
.tabMenu .tab-btn ul li {}
.tabMenu .tab-btn ul li a {
    font-size: 20px;
    padding: 10px 20px;
    color: #ddd;
    font-weight: 700;
}
.tabMenu .tab-btn ul li.active a {
    color: #000;
}
.tabMenu .tab-btn ul li .child {
    position: relative;
}
.tabMenu .tab-btn ul li .child::after {
    content: '';
    position: absolute;
    right: 0;
    width: 2px; height: 20px;
    background: #000;
}

.tab-cont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.tab-cont .txt {
    text-align: center;
}
.tab-cont .txt a {}
.tab-cont .txt a img {
    width: 80%;
}
.tab-cont div p {
    display: block;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 700;
    color: #373737;
}
.cont2 {
    display: none;
}



#main .ntc {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: space-around;
    background: #F7F7F7;
    margin-bottom: 30px;
}
#main .ntc img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
#main .ntc .box {
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px;
    width: 200px;
    height: 275px;
    position: relative;
}
#main .ntc .box .plus {
    position: absolute;
    right: 0;
    margin: 10px 10px 0 0;
    
}
#main .ntc .box .plusBtn {
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    
}
#main .ntc .box h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}
#main .ntc .box .desc {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
}
#main .ntc .box .desc li {
    margin-bottom: 10px;
    
}

/*푸터*/
#footer {
    margin-left: 25%;
    width: 700px;
    background-color: #EDF2F8;
    height: 120px;
    position: relative;
}
#footer img {
    position: absolute;
    width: 50px;
    height: px;
    margin: 20px;
}
#footer .ftxt {
    margin-left: 100px;
    padding-top: 33px;
    font-size: 12px;
}
#footer .ftxt p {
    margin-bottom: 10px;
}
#footer .fbtn {
    
}
#footer .fbtn img {
    width: 60px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 15px;
}
#footer .fbtn .fb1 {
    margin-right: 140px;
}
#footer .fbtn .fb2 {
    margin-right: 80px;
}